body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#515356;
}
.masthead{
	padding-top:2em;
	padding-left:2em;
}
.logo{
	background-color:#515356;
	padding-bottom:1em;
}
.logo img{
	height:80px;
	text-align:left;
}
.title{
	font-size:2em;
	padding-left:1em;
	font-weight:bold;
	color:white;
	padding-bottom:0.8em;
	background-color:#515356;
	vertical-align:bottom;
}
.tablepadding{
	background-color:#515356;
	width:2em;
}
.bigtable{
	background-color:#515356;
	border-collapse:collapse;
	font-size:1.1em;
}
.hourstable{
	border-collapse:collapse;
}
th{
	background-color:black;
	color:white;
	padding:0.5em;
}
tr:nth-child(odd){
	background-color:#fff;
}
tr:nth-child(even){
	background-color:#eee;
}
td{
	padding:0.25em;
	text-align:center;
}
